@model PetAdoptionCenter.Domain.Models.AdoptionApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdoptionApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdoptionApplicationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdoptionApplicationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adopter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adopter.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pet.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question10)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
