@using Microsoft.Extensions.Options
@model IEnumerable<PetAdoptionCenter.Domain.Models.AdoptionApplication>
@inject IOptions<PetAdoptionCenter.Domain.DomainEntities.StripeSettings> Stripe
@{
    ViewData["Title"] = "MyApplications";
}

<h1>My Applications</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Adoption status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adopter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AdoptionApplicationStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adopter.FirstName)
                </td>
                <td>
                    @item.Pet.Name - @item.Pet.PetType.ToString()
                </td>
                <td>
                    @* I don't think we need an edit button once the application has been sent
                    @if(item.AdoptionApplicationStatus == PetAdoptionCenter.Domain.enums.AdoptionApplicationStatus.PENDING)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark">Edit</a>
                    }
                    *@
                        <div class="row m-4">
                        @if (item.AdoptionApplicationStatus == PetAdoptionCenter.Domain.enums.AdoptionApplicationStatus.PENDING_FOR_PAYEMENT)
                            {
                                <form asp-controller="AdoptionApplications" asp-route-id="@item.Id" asp-action="PayOrder" method="post">
                                    <article>
                                        <script src="https://checkout.stripe.com/checkout.js"
                                                class="stripe-button"
                                                data-key="@Stripe.Value.PublishableKey"
                                                data-locale="auto"
                                                data-description="EShop Application Payment"
                                                data-amount="@(item.Pet.Price * 100)"
                                                data-label="Pay $@item.Pet.Price">
                                        </script>
                                    </article>
                                </form>
                            }
                            </div>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
