@using PetAdoptionCenter.Domain.Models
@model PetAdoptionCenter.Domain.Models.Pet

@{
    ViewData["Title"] = "Details";
    var AppForms = ViewData["AppForms"] as List<AdoptionApplication>;
    var loggedInUser = ViewData["LoggedInUser"] as domain.Identity.PetAdoptionCenterUser;
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHouseTrained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHouseTrained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FavouriteThings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FavouriteThings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeRequirements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeRequirements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shelter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shelter.FirstName)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Adopter") && Model.PetStatus == PetAdoptionCenter.Domain.enums.PetStatus.AVAILABLE_FOR_ADOPTION)
    {
        <a asp-controller="AdoptionApplications" asp-action="Apply" asp-route-petId="@Model?.Id" class="btn btn-success">Apply to Adopt</a>
        <a asp-controller="Pets" asp-action="CreatePetDetailsDocument" asp-route-id="@Model?.Id" class="btn btn-secondary">Export Pet Details</a>
    }
    
    <a asp-action="Index">Back to List</a>


       @* to do so viewbag user *@
</div>


