@using PetAdoptionCenter.Domain.Models
@model PetAdoptionCenter.Domain.Models.Pet

@{
    ViewData["Title"] = "Details";
    var AppForms = ViewData["AppForms"] as List<AdoptionApplication>;
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHouseTrained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHouseTrained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FavouriteThings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FavouriteThings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeRequirements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeRequirements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shelter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shelter.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="AdoptionApplications" asp-action="Apply" asp-route-petId="@Model?.Id">Apply to Adopt</a> |
    <a asp-action="Index">Back to List</a>
</div>


<br />
<hr />
<br />


<h1>Applications</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Adoption Application Status
            </th>
            <th>
                Adopter
            </th>
            <th>
                Pet
            </th>
            <th>
                Q1
            </th>
            <th>
                Q2
            </th>
            <th>
                Q3
            </th>
            <th>
                Q4
            </th>
            <th>
                Q5
            </th>
            <th>
                Q6
            </th>
            <th>
                Q7
            </th>
            <th>
                Q8
            </th>
            <th>
                Q9
            </th>
            <th>
                Q10
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in AppForms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AdoptionApplicationStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adopter.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pet.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question10)
                </td>
                
            </tr>
        }
    </tbody>
</table>
